@import '/src/styles/indents.scss';
@import '/src/styles/colors.scss';

.wrapper {
    display: flex;
    flex-direction: column;
    max-width: 700px;
    width: 100%;
    margin: 0 auto $indent-extra-big auto;
    box-shadow: 0px 0 10px rgba($grey-700, .26);
    
}
.lists {
    width: 90%;
    justify-content: space-around;
}

.list {
    display: flex;
    flex-direction: row;
    max-width: 600px;
    width: 90%;
    margin-bottom: 5px;

    &__item {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        max-width: 600px;
        width: 100%;
    }

    &__ticker {
        width: 15%;
        box-shadow: 0px 0 10px rgba($grey-700, .26);
        border-radius: 12px;
    }
    &__price {
        width: 15%;
    }
    &__change {
        width: 15%;
    }
    &__change_percent {
        width: 15%;
    }
    &__yield {
        width: 15%;
    }
    &__dividend {
        width: 15%;
    }
}